@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Hubballi&display=swap');
@import url('banner.css');
@import url('buttons.css');
@import url('cards.css');
@import url('footer.css');



body {
	margin:  0;
	font-family: 'Hubballi', cursive;
	background-color: rgb(200, 200, 200);
}

a {
	text-decoration: none;
}

.container {
	width: 80%;*
	margin: 0 auto;
}
/*80% of the screen is the same for every device, but use the min size in px to be responsive (see cards.css)*/